<html>
	<link href="../css/styles.css" rel="stylesheet" type="text/css">
	<head>
	</head>

	<script type="text/javascript">
		//document.getElementById("wordle").src = "<%=base64%>";
		console.log("<%=base64%>");
	</script>

	<body>
		<div id="page">
			<div class="left">
				<div class="center">
					<div class="search-again">
						<form action="/wordle" method="GET" onsubmit="showLoader()">
							<input type="text" name="searchedQuery" id="searchedQuery" placeholder="search">
						</form>
					</div>
					<br>
					<br>
					<div class="keyword"><%=keyword%></div>

					<div class="contribution">
						<form action="/wordle" method="GET" onsubmit="showLoader()">
							<input type="text" name = "contribution" id="contribution" placeholder="add a contribution">
							<br><br>
							<input type="hidden" name = "searchedQuery" id="searchedQuery" value="<%= keyword%>">
							<!--<input class="submit-btn" type="submit" value="Add Contribution">-->				
						</form>
					</div>
				</div>
			</div>

			<div class="right">
				<div>
					<div id="wordleImage">
						<img id="wordle" src="<%=base64%>"/>
					</div>
				</div>
			</div>
		</div>
		<div id="preloader">
		  <div id="loader"></div>
		</div>

		<script>
			function showLoader() {
			  document.getElementById("preloader").style.display = "block";
			  document.getElementById("page").style.display = "none";
			}
		</script>
	</body>
</html>
