<html>
	<link href="../css/styles.css" rel="stylesheet" type="text/css">
	<head>
	</head>

	<script type="text/javascript">
		//document.getElementById("wordle").src = "<%=base64%>";
		console.log("<%=base64%>");
	</script>

	<body>
		<div>
			<div class="search-again">
				<form action="/wordle" method="GET">
					<input type="text" name="searchedQuery" id="searchedQuery" placeholder="search">
				</form>
			</div>
			<br>
			<br>
			<div class="keyword"><%=keyword%></h1>
			<img id="wordle" src="<%=base64%>"/>
			<div class="contribution">
				<form action="/wordle" method="GET">
					<input type="text" name = "contribution" id="contribution" placeholder="add a contribution">
					<br><br>
					<input type="hidden" name = "searchedQuery" id="searchedQuery" value="<%= keyword%>">
					<input class="submit-btn" type="submit" value="Add Contribution">
				</form>
			</div>
		</div>
	</body>
</html>
