<html>
	<link href="../css/styles.css" rel="stylesheet" type="text/css">
	<head>
	</head>

	<script type="text/javascript">
		//document.getElementById("wordle").src = "<%=base64%>";
		console.log("<%=base64%>");
	</script>

	<body onload="loadWordle()" style="margin:0;">
		<div>
			<div class="search-again">
				<form action="/wordle" method="GET">
					<input type="text" name="searchedQuery" id="searchedQuery" placeholder="search">
				</form>
			</div>
			<br>
			<br>
			<h1 class="keyword"><%=keyword%></h1>
			

			<div id="loader"></div>
			<div id="wordleImage">
				<img id="wordle" src="<%=base64%>"/>
			</div>

			<script>
				var myVar;

				function loadWordle() {
				  myVar = setTimeout(showPage, 3000);
				  console.log("test");
				}

				function showPage() {
				  document.getElementById("loader").style.display = "none";
				  document.getElementById("wordleImage").style.display = "block";
				}
			</script>


			<div class="contribution">
				<form action="/wordle" method="GET">
					<input type="text" name = "contribution" id="contribution" placeholder="add a contribution">
					<br><br>
					<input type="hidden" name = "searchedQuery" id="searchedQuery" value="<%= keyword%>">
					<input class="submit-btn" type="submit" value="Add Contribution">
				</form>
			</div>
		</div>
	</body>
</html>
